<h1>Barry</h1>
<%= render 'form', obj: @barries %>


<h1>Neil</h1>
<%= render 'form', obj: @neils %>


<h1>Anco</h1>
<%= render 'form', obj: @ancos %>


<h1>Justin</h1>
<%= render 'form', obj: @justins %>