#logo {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}

.username {
	font-size: 20px;
	letter-spacing: 2px;
}

.box {
	word-wrap: break-word;
}

/* Extra Small */
@media(max-width:767px){}

/* Small */
@media(min-width:768px) and (max-width:991px){}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}